# Environment Variables File
.env

# Specific Python Files
Database.py
rapid-api.ipynb
app.py
trial_model.ipynb
pipeline_models.ipynb
mode.ipynb

# Entire Datasets Folder
datasets/

# Additional Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.streamlit/secrets.toml