streamlit==1.38.0
streamlit-lottie==0.0.5
pandas==2.2.3
pickle-mixin==1.0.2
wordcloud==1.9.4
scikit-learn==1.3.1
matplotlib==3.9.2
requests==2.31.0
demoji==1.1.0
python-dotenv==1.0.0
textblob==0.17.1
seaborn
nltk
spacy
spacy-language-detection
xgboost
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl